// CART RIBBON STYLES

.cart-ribbon{
    background: gold;
    
    .row{
        display: flex;
        flex-wrap: wrap;
        margin: 0 -15px;
        justify-content: center;
        .col{
            margin-top: 0;
            h2{
                line-height: 70px;
                margin: 20px 0;
                font-size: 38px;
            }
        }
    }
}


//MAIN CART STYLES

.main-cart{
    padding: 20px;
    background: white;


    .row .noItemsMsg{
        margin: 20px 0 40px;
        font-size: 20px;
    }

    .col-1{
        display: none;
        }
       

    .col-2{
        display: flex;
        align-items: center;
        position: relative;
        flex-wrap: wrap;
        width: 100%;
        background-color: lightgrey;
        padding: 20px;
        box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
        margin-bottom: 20px;
        @media(min-width: 768px){
            flex-wrap: nowrap;
            margin-bottom: 0px;
        }
        


        .cart-delete{
            position: absolute;
            background-color: rgb(236, 236, 236);
            border-radius: 25px;
            padding: 5px 10px;
            top: 15px;
            left:5px;
            order: 1;
            font-size: 20px;
            &:hover{
                background-color: rgb(211, 211, 211);
                cursor: pointer;
            }
        }


        .cart-info {
            display: flex;
            align-items: center;
            justify-content: left;
            padding-top: 10px;
            order: 2;
            max-width: 60%;
            gap: 40px;


            .cart-preview p:nth-child(3){
                font-size: 10px;
                line-height: 12px;
                text-decoration: underline;
                color:rgba(0, 0, 0, 0.808);
                cursor: pointer;
                margin-top: 4px;
                &:hover{
                    color: gold;
                }
            }
            
            img{
                width: 50%;
                object-fit: scale-down;
                
            }

            

            h2{
                font-size: 14px;
            }
            p{
                font-size: 12px;
            }

            
        }

        


        .cart-quantity{
            display: flex;
            flex-flow: column;
            order: 3;
            align-items: center;
            min-width: 40%;
            margin-left: auto;
            span{
                background-color: rgb(231, 231, 231);
                padding: 2px 10px;
                border: 1px solid black;
                border-radius: 5px;
            }
            @media(min-width: 768px){
                order: 4;
                min-width: 20%;
                margin-left: 0;
            }


            input{
                width: 40px;
                padding: 5px;
                border: 0px;
                background-color: gold;
                text-align: center;
                border-radius: 7px;
            }
        }

        .cart-quantity svg{
            &:hover{
                color:rgb(121, 121, 121)
            }
        }



        .cart-price{
            order: 4;
            font-size: 18px;
            margin: 40px 40px 40px 0;
            @media(min-width: 768px){
                order: 3;
                
            }
        }


        .cart-value{
            order: 5;
            font-size: 18px;
            margin: 40px;
            @media(min-width: 768px){
                order: 5;
                margin-left: 50px;
            }
        }
    }

    .col-2.cart-total-value{
        display: flex;
        color: black;
        span{
            margin-left: auto;
            font-size: 22px;
        }
    }

    .clear-proceed{
        
        div.col{
            color: white;
            padding: 8px;
            margin: 0px 10px 0px 0px;
            background: rgba(0, 0, 0, 0.808);
            border-radius: 10px;
            cursor: pointer;
            font-size: 12px;
            &:hover{
                background: rgba(0, 0, 0, 0.608);
            }
            @media(min-width: 768px){
                margin: 40px 10px 10px 0;
                &:nth-child(1){
                    margin-left: auto;
                    
                }
            }
            
            
        }
    }
}