.mobile {
  display: flex;
  position: absolute;
  background-color: lightgray;
  justify-content: center;
  padding: 45px 0;
  height: 260px;
  width: 100%;

  &__list {
    display: flex;
    flex-flow: column;
    gap: 20px;
  }

  &__listItem {
    text-align: center;
  }

  &__link {
    color: black;
  }
}
