.card .row-1 .col {
  display: flex;
  margin-top: 50px;
}

.card .row-1 .col p {
  color: rgba(0, 0, 0, 0.808);
  padding: 8px 16px;
  border-radius: 12px 12px 0 0;
  cursor: pointer;
}

.card .row-1 .col .specification-header {
  background: none;
  color: rgba(0, 0, 0, 0.808);
}

.card .row-2 {
  background: rgba(0, 0, 0, 0.808);
  color: white;
  width: calc(100%);
}

.card .row-2 .col {
  padding: 16px 16px 32px 16px;
}

.card .row-2 .col p {
  font-size: 14px;
}
