.productDescription {
  padding: 15px 0;

  &__headers {
    display: flex;
  }

  &__header {
    padding: 10px;
    border-radius: 10px 10px 0 0;
    color: black;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
  }

  &__text {
    padding: 10px;
    background-color: #333;
    color: white;
    font-size: 14px;
    font-weight: 200;
    letter-spacing: 0.5px;
    @media (min-width: 768px) {
      height: 120px;
    }
  }
}
