.productDescription {
  padding: 15px 0;
  &__headers {
    display: flex;
  }

  &__header {
    padding: 10px;
    color: black;
    border-radius: 10px 10px 0 0;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
  }

  &__text {
    background-color: #333;
    padding: 10px;
    color: white;
    font-size: 14px;
    font-weight: 200;
    height: 120px;
    letter-spacing: 0.5px;
  }
}
