.card .row-1 .col {
  display: flex;
  margin-top: 50px;
   
  p {
    padding: 8px 16px;
    border-radius: 12px 12px 0 0;
    
    color: rgba(0, 0, 0, 0.808);
    // background: rgba(0, 0, 0, 0.808);
    // color: gold;
    cursor: pointer;
  }

  .specification-header {
    background: none;
    color: rgba(0, 0, 0, 0.808);
  }
}

.card .row-2 {
  width: calc(100%);
  background: rgba(0, 0, 0, 0.808);
  color: white;
    
  .col {
    padding: 16px 16px 32px;

    p {
      font-size: 14px;
    }
  }
}
