
//Main cart styles

.cart{
  &__ribbon {
    background: gold;
    text-align: center;
    padding: 20px 0;
    
  }

  &__mainCart {
    padding: 20px 0;
  }

  &__total {
    padding: 24px 0;
  }

  &__buttons {
    display: flex;
    flex-flow: column;
  }

  &__button {
    background-color: #AAAAAA;
    padding: 10px;
    margin: 15px 0 5px 0;
    width: 220px;
    text-align: center;
    border: 2px solid black;
    cursor: pointer;
    &:hover{
      background-color: #d8d8d8;
    }
  }
}

//Cart list styles

.cartListWrapper{
  &__list{
    display: flex;
    flex-flow: column;
    gap: 20px;
  }
}


//Cart item styles

.cartItem {
  position: relative;
  font-size: 1.3em;
  padding: 20px;
  background-color: white;
  @media(min-width: 568px){
    display: flex;
    gap: 40px;
  }

  &__delete{
    cursor: pointer;
    font-size: 14px;
    color: purple;
    text-decoration: underline;

  }
  
  &__itemImg{
    max-width: 100%;
    object-fit: scale-down;
    @media(min-width: 568px){
      max-width: 50%;
    }
  }

  &__detailsSpan{
    margin-top: 20px;
  }
  
  
    
  
  
}
      

  


