.mobile {
  position: absolute;
  z-index: 0;
  width: 100%;
  background-color: lightgray;
  @media (min-width: 768px) {
    display: none;
  }
    
  .col ul {
    display: flex;
    position: relative;
    flex-flow: column;
    align-items: center;
    padding: 40px;
    font-size: 20px;
    gap: 20px;

    a {
      color: black;
    }

    li {
      position: relative;
      z-index: 1;

      sup {
        position: absolute;
        z-index: -1;
        top: -4px;
        left: 35px;
        padding: 0 6px 0 5px;
        border-radius: 10px;
        background-color: gold;
        color: black;
        font-size: 14px;
        font-weight: 800;
      }
    }
        
        
        
  }
}
