.forgotPage {
  padding: 40px 20px;
  
  background-color: #eeeeee;

  &__container {
    display: flex;
    flex-flow: column;
    align-items: center;
    height: 330px;
    padding: 0px;
    background-color: #d8d8d8;
    @media (min-width: 576px) {
      height: 380px;
      font-size: 1.2em;
    }
  }

  &__header {
    width: 100%;
    margin: 30px 0 10px;
    padding: 10px 0;
    background-color: gold;
    text-align: center;
  }

  &__instruction {
    margin: 10px;
    text-align: center;
    @media (min-width: 576px) {
      margin: 20px;
    }
  }

  &__form {
    display: flex;
    align-items: center;
    margin: 20px 0;
    gap: 5px;
  }

  &__input {
    width: 160px;
    height: 40px;
    padding: 5px;
    font-size: 14px;
    @media (min-width: 576px) {
      width: 220px;
      height: 40px;
      font-size: 18px;
    }
  }

  &__submit {
    width: 60px;
    height: 40px;
    border: 2px solid black;
    font-size: 14px;

    &:hover {
      background-color: gold;
  }
    @media (min-width: 576px) {
      width: 70px;
      height: 40px;
      font-size: 18px;
    }
  }

  &__signupEntry {
    margin: 10px 0 0;
  }

  &__signupEntryText {
    font-size: 15px;
  }

  &__signupEntryButton {
    margin-left: 5px;
    border: none;
    background-color: transparent;
    color: blue;
    font-size: 15px;
    cursor: pointer;
  }
}