.refs {
  margin-top: 50px;
  text-align: center;
  padding: 20px;
  background-color: #f1f1f1;
}

.refs .row {
  display: flex;
  flex-flow: column;
  gap: 40px;
  align-items: center;
}

.refs .row h2 {
  margin: 30px 0 10px;
}

.refs .row .col {
  width: 65%;
  background-color: #f8f8f8;
  padding: 30px;
}

.refs .row .col .stars svg {
  color: gold;
}

.refs .row .circle {
  background-color: orange;
  width: 40px;
  height: 40px;
  margin: 0 auto;
  border-radius: 20px;
}

.refs .row .name {
  margin: 10px 0;
}

.refs .row p {
  font-size: 12px;
}
