.refs{
    margin-top: 50px;
    text-align: center;
    padding: 20px;
    background-color: rgb(241, 241, 241);

    h2{
        margin: 30px 0 50px;
        @media(min-width: 992px){
            font-size: 28px;
        }
    }

    .row{
        display: flex;
        flex-flow: column;
        gap: 40px;
        align-items: center;
        @media(min-width: 992px){
            flex-flow: row;
        }

        

        .col{
            
            width: 65%;
            background-color: rgb(248, 248, 248);
            padding: 30px;
            margin-bottom: 50px;


            .stars svg{
                color: gold
            }
        }

        .circle{
            background-color: rgb(31, 31, 31);
            width: 40px;
            height: 40px;
            margin: 0 auto;
            border-radius: 20px;
            display: flex;
            justify-content: center;          
            align-items: center;
            font-size: 38px;
            color: orange;
            @media(min-width: 992px){
                width: 60px;
                height: 60px;
                border-radius: 30px;
            }
        }

        .name{
            margin: 10px 0;
        }

        p{
            font-size: 12px;
        }

        
        
    }
}