
.Hero {
  background-color: rgb(248, 248, 248);

  &__container {
    margin: 0 20px;
    @media (min-width: 1240px) {
      margin: 0 auto;
    }
    max-width: 1200px;
  }

  &__slide {
    padding-top: 40px;
    position: relative;
  }

  &__sliderText {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 10px;
    border-radius: 20px;
    background-color: rgba(255, 166, 0, 0.65);
    font-size: 0.8em;
    @media (min-width: 576px){
      font-size: 1em;
    }
    @media (min-width: 768px){
      font-size: 1.2em;
      top: 50px;
      right: 50px;
    }
    @media (min-width: 992px){
      font-size: 1.4em;
      top: 80px;
      right: 80px;
      padding: 20px;
    }
  }

  &__sliderLink {
    color: black;

    &:hover {
      text-decoration: underline;
    }
  }

  &__carouselItem{
    height: 30vh;
    background-size: cover;
    background-position: center; 
    @media (min-width: 576px){
      height: 50vh;
    }
    @media (min-width: 992px){
      height: 70vh;
    }
  }


  &__list {
      display: flex;
      flex-flow: column;
      justify-content: space-around;
      padding: 25px 0;
      background-color: rgb(248, 248, 248);
      text-align: center;
    @media (min-width: 768px) {
      padding: 50px 0;
      flex-flow: row;
    }
  }

  &__square {
      display: flex;
     
      width: 45px;
      height: 45px;
      margin: 0 auto;
      border-radius: 10px;
      background-color: orange;
      font-size: 32px;
      @media (min-width: 768px) {
        
        align-items: center;
        justify-content: center;
        width: 65px;
        height: 65px;
        border-radius: 15px;
      }
    }
}


















// .hero {
//   .col {
//     position: relative;
//   }

//   .main-slider {
//     height: 90vw;
//     background-size: cover;
//     background-position-x: center;
//     @media (min-width: 768px) {
//       height: 60vw;
//     }
//     @media (min-width: 1200px) {
//       height: 38vw;
//       background-size: 100% 150%;
//       background-position-y: 65%;
//     }

//   }

//   .hero-msg {
//     position: absolute;
//     top: 60px;
//     right: 20px;
//     padding: 10px;
//     border-radius: 20px;
//     background-color: rgba(255, 166, 0, 0.65);

//     a {
//       color: black;

//       &:hover {
//         text-decoration: underline;
//       }

//     }
//     @media (min-width: 768px) {
//       padding: 20px;
//       border-radius: 30px;
//       font-size: 1.5em;
//     }
//     @media (min-width: 1200px) {
//       top: 120px;
//       right: 15%;
//       padding: 20px;
//       border-radius: 30px;
//       font-size: 2em;
//     }

//     .arrow {
//       display: inline-block;
//       margin-bottom: -10px;
//       margin-left: 10px;
//       transform: rotate(-45deg);
//       color: white;
//       font-size: 45px;
//     }
//   }

//   .row-2 {
//     display: flex;
//     justify-content: space-around;
//     padding: 25px 0;
//     background-color: rgb(248, 248, 248);
//     text-align: center;
//     @media (min-width: 768px) {
//       padding: 50px 0;
//     }
        

//     .square {
//       width: 45px;
//       height: 45px;
//       margin: 0 auto;
//       border-radius: 10px;
//       background-color: orange;
//       font-size: 32px;
//       @media (min-width: 768px) {
//         display: flex;
//         align-items: center;
//         justify-content: center;
//         width: 65px;
//         height: 65px;
//         border-radius: 15px;
//       }
//     }

//     h2 {
//       margin-top: 10px;
//       font-size: 12px;
//       @media (min-width: 768px) {
//         font-size: 18px;
//       }
//     }

//     p {
//       font-size: 10px;
//       @media (min-width: 768px) {
//         font-size: 14px;
//       }
//     }
//   }
// }
