.main-nav {
    
  background-color: white;
    
  .col {
    display: flex;
    align-items: center;
    padding: 10px 0;
    @media (min-width:1200px) {
      padding: 20px 0;
    }

    .navigation {
      display: none;
      @media (min-width: 768px) {
        display: block;

        ul {
          display: flex;

          li {
            margin-left: 40px;

            a {
              color: black;
            }
          }
        }
      }
      @media (min-width: 1200px) {
        font-size: 20px;
      }
    }

    .social-menu {
      display: none;
      @media (min-width: 768px) {
        display: block;
        margin-left: auto;

        ul.social-links {
          display: flex;

          li {
            margin-left: 20px;

            a {
              color: black;

              &:hover {
                color: orange;
              }
            }
          }
        }
      }
      @media (min-width: 1200px) {
        font-size: 22px;
      }
    }

    .logo {
      font-size: 28px;
      text-transform: uppercase;

      .bold-style {
        font-weight: 400;

        span {
          font-weight: 600;
        }
      }
    }

    .burger-btn {
      margin-left: auto;
      @media (min-width: 768px) {
        display: none;
      }
    }
  }

  // PRODUCTS-MINI-NAVIGATION

  .products {
    position: relative;
    cursor: pointer;

    .products-nav {
      display: flex;
      position: absolute;
      z-index: 1;
      flex-flow: column;
      margin-top: 10px;
      background-color: rgba(180, 178, 178, 0.781);
            
            
      li {
        width: 95px;
        margin-left: 0 !important;
        padding: 5px 20px 5px 10px;
        border: 1px solid gray;
                
                
        a {
          font-size: 18px;
        }
                
      }
    }

    .triangle {
      display: inline-block;
      position: absolute;
      top: 45%;
      left: 73px;
      transition: transform 0.2s ease-in-out;
      border-top: 5px solid rgb(0, 0, 0);
      border-right: 5px solid transparent;
      border-left: 5px solid transparent;
    }
  }

    
}
