.MainNav {
  display: flex;
  position: relative;
  top: -260px;
  max-height: 65px;
  max-width: 1400px;
  margin: 0 auto;
  padding: 15px;
  align-items: center;
  justify-content: center;
  background-color: #d8d8d8;
  flex-wrap: wrap;
  width: 100%;
  z-index: 999;
  transition: all 0.5s ease-in-out;
  @media (min-width: 768px){
    position: static;
    height: auto;
    flex-wrap: nowrap;
  }

  &__container {
    margin: 0 20px;
    @media (min-width: 1240px) {
      margin: 0 auto;
    }
  }

  &__logo {
    font-size: 28px;
    text-transform: uppercase;
    margin-left: 20px;
    order: 0;
  }
  &__bold {
    font-weight: bold;
  }
  &__img {
    height: 22px;
  }

  &__flexbox {
    display: flex;
    flex-flow: row;
    align-items: center;
    height: 60px;
    gap: 20px;
  }

  &__list {
    display: flex;
    flex-flow: column;
    z-index: 999;
    align-items: center;
    justify-content: center; 
    gap: 10%;
    flex: 1;
    gap: 20px;
    text-align: center;
    font-size: 28px;
    min-width: 100%;
    background-color: #d8d8d8;
    height: 260px;
    transition: left 0.5s ease-in-out;
    @media (min-width: 768px) {
      display: flex;
      flex-flow: row;
      position: static;
      height: auto;
      width: 200px;
      min-width: 0px;
      order: 1;
    }
  }

  &__link {
    color: black;
    font-size: 28px;
    text-transform: uppercase;
    &:hover {
      text-decoration: underline;
    }
  }

  &__iconList {
    display: flex;
    flex-flow: row;
    margin-left: auto;
    gap: 25px;
    order: 3;
  }

  
}
