.MainNav {
  display: flex;
  max-width: 1400px;
  margin: 0 auto;
  padding: 15px;
  justify-content: space-between;
  position: relative;
  background-color: #d8d8d8;
  flex-wrap: wrap;

  &__container {
    margin: 0 20px;

    @media (min-width: 1240px) {
      margin: 0 auto;
    }
  }

  &__logo {
    font-size: 22px;
    text-transform: uppercase;
  }
  &__bold {
    font-weight: bold;
  }
  &__img {
    height: 22px;
  }

  &__flexbox {
    display: flex;
    flex-flow: row;
    align-items: center;
    height: 60px;
    gap: 20px;
  }

  &__list {
    display: flex;
    flex-flow: column;
    height: 300px;
    align-items: center;
    justify-content: center;
    order: 3;
    gap: 10%;
    flex: 1;
    gap: 20px;
    text-align: center;
    font-size: 22px;
    min-width: 100%;
    background-color: #d8d8d8;
    @media (min-width: 768px) {
      display: flex;
      flex-flow: row;
      position: static;
      height: auto;
      width: 200px;
      flex: 0;
      transform: translateX(0%);
    }
  }

  &__link {
    color: black;
    font-size: 18px;
    text-transform: uppercase;
    &:hover {
      text-decoration: underline;
    }
  }

  &__iconList {
    display: flex;
    flex-flow: row;
    
      
    
    
  }

  &__burger-btn {
    margin-left: auto;
    @media (min-width: 768px) {
      display: none;
    }
  }
}
