*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-family: Oswald;
  text-decoration: none;
}

.main-page-wrapper {
  width: 100%;
}

.container {
  @media (min-width: 1200px) {
    max-width: 1200px;
    margin: 0 auto;
  }
}

.btn {
  display: inline-block;
}
